# Node
node_modules/
server/node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# IDE
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
*.log
